body {
  background-color: #e5e5e5;
}
.logo-alura {
  width: 120px;
  height: 48px;
  margin: 3em;
}
.container-principal {
  display: flex;
  justify-content: center;
  margin: 2em;
}
.container {
  display: flex;
  flex-direction: column;
}
.text-advertencia {
  display: flex;
  position: absolute;
  top: 10px;
  left: 200px;
}

.text-advertencia img {
  margin: 0.5em;
}

.input-text textarea {
  margin: 1em;
  width: 1000px;
  height: 700px;
  top: 100px;
  left: 150px;
  font-size: 32px;
  color: #0a3871;
  background-color: transparent;
  outline: 0;
  border: 0;
  resize: none;
  text-align: center;
}
.input-text textarea::placeholder {
  color: #0a3871;
}
.sessao-btn {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

.btn button {
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  margin-right: 0;
  cursor: pointer;
}

#criptografar {
  background-color: #0a3871;
  color: #fff;
}

#descriptografar {
  color: #0a3871;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 32px;
  position: absolute;
  width: 500px;
  height: 1010px;
  left: 1700px;
  top: 40px;
}

.stylefinal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 32px;
  position: absolute;
  width: 500px;
  height: 1010px;
  left: 1700px;
  top: 40px;

  margin: 1em;
  padding: 1.5em;
}

.stylefinal textarea {
  padding: 1em;
  width: 480px;
  height: 800px;
  top: 100px;
  left: 150px;
  font-size: 32px;
  color: #000;
  background-color: transparent;
  outline: 0;
  border: 0;
  resize: none;
  text-align: center;
}

.resultado .text {
  text-align: center;
}
.btnCopiar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnCopiar button {
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  margin-right: 0;
  cursor: pointer;
}
